server-info2/src/main/mule/serverinfo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="324e001b-8b57-443c-a43a-0bc4005ee902" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="1c4a1ac6-9d35-44d9-b8a4-63d6850daa8f" file="server-info-config.yaml" />
	<flow name="initRandAngle" doc:id="8b3acaae-beee-416f-b080-5db8f1899915" >
		<scheduler doc:name="Scheduler" doc:id="0e1feb21-e9c0-437e-a061-306cfb174f6f" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="46ab4602-483d-42dc-9cf6-8c6a30323c5c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="randAngle" ><![CDATA[%dw 2.0
output application/json

//import java!stroller::CityStroller

---
randomInt(360) as String {format: "#,###"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<os:store doc:name="Store" doc:id="ba27ba24-39bd-421f-b695-834e72aa0d37" key="randAngle">
			<os:value ><![CDATA[#[vars.randAngle as String]]]></os:value>
		</os:store>
		<os:retrieve doc:name="Retrieve" doc:id="c4ab8742-3ec5-410b-aff3-1cc6f22447b0" key="randAngle">
			<os:default-value ><![CDATA["0"]]></os:default-value>
		</os:retrieve>
		<logger level="DEBUG" doc:name="Logger" doc:id="ef0259c1-5e14-4262-bdec-d604bc120165" message="#['New random angle created: ' ++ vars.randAngle]" category="com.mulesoft.training.serverinfo"/>
	</flow>
	<flow name="getLocation" doc:id="1aeae710-162f-4b4c-8020-b6315b6f53b4" >
		<http:listener doc:name="Listener" doc:id="ca21793a-4d41-4834-8685-29ad947bec8f" config-ref="HTTP_Listener_config" path="${location.path}"/>
		<set-payload value="${location}" doc:name="Set Payload" doc:id="6e69421d-6585-48ed-8999-0244b0865f0e" />
		<logger level="DEBUG" doc:name="Logger" doc:id="53a92cac-650c-4561-ba0c-724a810ed6b5" message="#['Location set to: ' ++ payload]" category="com.mulesoft.training.serverinfo" />
	</flow>
	
	
	<flow name="help" doc:id="45e12339-0eb9-4f10-a2f7-d229b105fe06" >
		<http:listener doc:name="GET /" doc:id="66c2715d-8ebb-4e9e-a1ed-c4e1a731abf4" config-ref="HTTP_Listener_config" path="/">
			<http:response statusCode="200">
				<http:headers><![CDATA[#[output applicaton/java
---
{
	"content-type" : "text/html"
}]]]>
				</http:headers>
			</http:response>
		</http:listener>
		
		<ee:transform doc:name="Transform Message" doc:id="d039ce79-f49c-4137-9bfd-55fb630bcf12">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

	
	//startDate: app.muleContext.startDate as DateTime
	
	//(app.muleContext.startDate as DateTime) 
	//as String {format : "dd-MMM-yy, hh:mm:ss"}
	
	{
		
		workerIp: server.ip
	}
 
	
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="workerIp" ><![CDATA[%dw 2.0
output application/json
---

	
	//startDate: app.muleContext.startDate as DateTime
	
	//(app.muleContext.startDate as DateTime) 
	//as String {format : "dd-MMM-yy, hh:mm:ss"}
	
	{
		
		workerIp: server.ip
	}
 ]]></ee:set-variable>
				<ee:set-variable variableName="help" ><![CDATA[%dw 2.0
output application/java
---
(readUrl("classpath://docroot/help.html","application/java") as String)
replace /(\n)/ with ""]]></ee:set-variable>
				<ee:set-variable variableName="reload" ><![CDATA[%dw 2.0
output application/json
---
//read(write(readUrl("classpath://docroot/reload.html","application/java")),"application/json")
readUrl("classpath://docroot/reload.html","application/java" as String)
replace /(\n)/ with ""]]></ee:set-variable>
				<ee:set-variable variableName="header" ><![CDATA[%dw 2.0
output application/json
---
readUrl("classpath://docroot/header.html","application/java" as String)
replace /(\n)/ with ""]]></ee:set-variable>
				<ee:set-variable variableName="body" ><![CDATA[%dw 2.0
output application/json
---
(readUrl("classpath://docroot/body.html","application/java") as String)
replace /(\n)/ with ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3b814006-2650-42e5-9b04-5be26b688698" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.header 
++
"Current Location is: " ++ lookup('getLocation', {}) as String 
++
(vars.body
replace /(SERVER_IP)/ with (
	vars.workerIp.workerIp as String ++ "<br>" ++ randomInt(360) as String
	
	)
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getHostIp" doc:id="ca8b1c07-8fc0-402c-9be4-59578772de08" >
		<http:listener doc:name="GET /hostip" doc:id="38e8d790-25a3-44ae-b270-58c399a75aab" config-ref="HTTP_Listener_config" path="hostip"/>
		<ee:transform doc:name="Transform Message" doc:id="5a450f6a-1abb-4b85-a694-57e0cab23f5b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

(server.ip as String)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="e4c5f39b-70aa-49bb-b4e1-aef555ee1a58" message="#[output application/json --- ' Mule runtime\'s IP address retrieved: ' ++ payload as String  ]" category="com.mulesoft.training.serverinfo" />
	</flow>
	<flow name="getRandAngle" doc:id="45e12339-0eb9-4f10-a2f7-d229b105fe06" >
		<http:listener doc:name="GET /randAngle" doc:id="66c2715d-8ebb-4e9e-a1ed-c4e1a731abf4" config-ref="HTTP_Listener_config" path="randAngle" >
			<http:response statusCode="200" >
				<http:headers ><![CDATA[#[output applicaton/java
---
{
	"content-type" : "text/html"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Generate random angle" doc:id="3b814006-2650-42e5-9b04-5be26b688698" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
randomInt(360) as String
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="e2fdf675-8b63-4856-90e7-df9f16dc683f" message="#[output application/json --- ' New random angle generated:  ' ++ payload as String  ]" category="com.mulesoft.training.serverinfo" />
	</flow>
</mule>
